# Importing required Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel('scrapeddata.xlsx')

In [4]:
df

,Team_Name,Year,Wins,Losses,ot_losses,Goals_for,Goals_Against,Difference
0,Boston Bruins,1990,44,24,NaN,299,264,35
1,Buffalo Sabres,1990,31,30,NaN,292,278,14
2,Calgary Flames,1990,46,26,NaN,344,263,81
3,Chicago Blackhawks,1990,49,23,NaN,284,211,73
4,Detroit Red Wings,1990,34,38,NaN,273,298,-25
...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8.0,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10.0,231,264,-33
579,Vancouver Canucks,2011,51,22,9.0,249,198,51
580,Washington Capitals,2011,42,32,8.0,222,230,-8
581,Winnipeg Jets,2011,37,35,10.0,225,246,-21

# Understanding of Data

Team_Name: Identifies the hockey team.</br>
Year: Specifies the year in which the data has recorded.</br>
Wins: Number of games won by the team.</br>
Losses: Number of games lost by the team.</br>
ot_losses: Number of overtime losses.</br>
Goals_for: Total goals scored by the team.</br>
Goals_Against: Total goals scored against the team.</br>
Difference: Net goal difference (Goals_for - Goals_Against)

# EDA

In [6]:
# Original Datatypes
df.dtypes

Team_Name         object
Year               int64
Wins               int64
Losses             int64
ot_losses        float64
Goals_for          int64
Goals_Against      int64
Difference         int64
dtype: object

In [7]:
df.isnull().sum()

Team_Name          0
Year               0
Wins               0
Losses             0
ot_losses        224
Goals_for          0
Goals_Against      0
Difference         0
dtype: int64

# Assumption:
1. From 1990 to 1998 - It is possible that ot_losses have not recorded or reported coz they might have had different scoring systems back then.
2. Older datasets might not include overtime loss information if this metric was introduced later or not considered historically.

# Two Approaches to Handle this
1. Zero Imputation - For null values indicating absence of that metric 
2. Create two sepearate datasets - Historical(1990-1998) and Recent data(1988 onwards)

In [10]:
# We'll go for second approach as it makes more sense

In [11]:
cutoff_year = 1998

In [12]:
historical_df = df[df['Year'] <= cutoff_year].copy()

In [15]:
historical_df

,Team_Name,Year,Wins,Losses,ot_losses,Goals_for,Goals_Against,Difference
0,Boston Bruins,1990,44,24,NaN,299,264,35
1,Buffalo Sabres,1990,31,30,NaN,292,278,14
2,Calgary Flames,1990,46,26,NaN,344,263,81
3,Chicago Blackhawks,1990,49,23,NaN,284,211,73
4,Detroit Red Wings,1990,34,38,NaN,273,298,-25
...,...,...,...,...,...,...,...,...
219,St. Louis Blues,1998,37,32,NaN,237,209,28
220,Tampa Bay Lightning,1998,19,54,NaN,179,292,-113
221,Toronto Maple Leafs,1998,45,30,NaN,268,231,37
222,Vancouver Canucks,1998,23,47,NaN,192,258,-66
223,Washington Capitals,1998,31,45,NaN,200,218,-18

In [16]:
recent_df = df[df['Year'] > cutoff_year].copy()

In [17]:
recent_df

,Team_Name,Year,Wins,Losses,ot_losses,Goals_for,Goals_Against,Difference
224,Mighty Ducks of Anaheim,1999,34,33,3.0,217,227,-10
225,Atlanta Thrashers,1999,14,57,4.0,170,313,-143
226,Boston Bruins,1999,24,33,6.0,210,248,-38
227,Buffalo Sabres,1999,35,32,4.0,213,204,9
228,Calgary Flames,1999,31,36,5.0,211,256,-45
...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8.0,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10.0,231,264,-33
579,Vancouver Canucks,2011,51,22,9.0,249,198,51
580,Washington Capitals,2011,42,32,8.0,222,230,-8
581,Winnipeg Jets,2011,37,35,10.0,225,246,-21