# Importing required Libraries

In [183]:
import pandas as pd
import matplotlib.pyplot as plt

In [184]:
df = pd.read_excel('scrapeddata.xlsx')

In [185]:
df

,Team_Name,Year,Wins,Losses,ot_losses,Goals_for,Goals_Against,Difference
0,Boston Bruins,1990,44,24,NaN,299,264,35
1,Buffalo Sabres,1990,31,30,NaN,292,278,14
2,Calgary Flames,1990,46,26,NaN,344,263,81
3,Chicago Blackhawks,1990,49,23,NaN,284,211,73
4,Detroit Red Wings,1990,34,38,NaN,273,298,-25
...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8.0,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10.0,231,264,-33
579,Vancouver Canucks,2011,51,22,9.0,249,198,51
580,Washington Capitals,2011,42,32,8.0,222,230,-8
581,Winnipeg Jets,2011,37,35,10.0,225,246,-21

# Understanding of Data

Team_Name: Identifies the hockey team.</br>
Year: Specifies the year in which the data has recorded.</br>
Wins: Number of games won by the team.</br>
Losses: Number of games lost by the team.</br>
ot_losses: Number of overtime losses.</br>
Goals_for: Total goals scored by the team.</br>
Goals_Against: Total goals scored against the team.</br>
Difference: Net goal difference (Goals_for - Goals_Against)

# EDA

In [186]:
# Original Datatypes
df.dtypes

Team_Name         object
Year               int64
Wins               int64
Losses             int64
ot_losses        float64
Goals_for          int64
Goals_Against      int64
Difference         int64
dtype: object

In [187]:
df.isnull().sum()

Team_Name          0
Year               0
Wins               0
Losses             0
ot_losses        224
Goals_for          0
Goals_Against      0
Difference         0
dtype: int64

# Assumption:
1. From 1990 to 1998 - It is possible that ot_losses have not recorded or reported coz they might have had different scoring systems back then.
2. Older datasets might not include overtime loss information if this metric was introduced later or not considered historically.

# Two Approaches to Handle this
1. Zero Imputation - For null values indicating absence of that metric 
2. Create two sepearate datasets - Historical(1990-1998) and Recent data(1988 onwards)

In [188]:
# We'll go for second approach as it makes more sense

In [189]:
cutoff_year = 1998

In [190]:
historical_df = df[df['Year'] <= cutoff_year].copy()

In [191]:
historical_df

,Team_Name,Year,Wins,Losses,ot_losses,Goals_for,Goals_Against,Difference
0,Boston Bruins,1990,44,24,NaN,299,264,35
1,Buffalo Sabres,1990,31,30,NaN,292,278,14
2,Calgary Flames,1990,46,26,NaN,344,263,81
3,Chicago Blackhawks,1990,49,23,NaN,284,211,73
4,Detroit Red Wings,1990,34,38,NaN,273,298,-25
...,...,...,...,...,...,...,...,...
219,St. Louis Blues,1998,37,32,NaN,237,209,28
220,Tampa Bay Lightning,1998,19,54,NaN,179,292,-113
221,Toronto Maple Leafs,1998,45,30,NaN,268,231,37
222,Vancouver Canucks,1998,23,47,NaN,192,258,-66
223,Washington Capitals,1998,31,45,NaN,200,218,-18

In [192]:
recent_df = df[df['Year'] > cutoff_year].copy()

In [193]:
recent_df

,Team_Name,Year,Wins,Losses,ot_losses,Goals_for,Goals_Against,Difference
224,Mighty Ducks of Anaheim,1999,34,33,3.0,217,227,-10
225,Atlanta Thrashers,1999,14,57,4.0,170,313,-143
226,Boston Bruins,1999,24,33,6.0,210,248,-38
227,Buffalo Sabres,1999,35,32,4.0,213,204,9
228,Calgary Flames,1999,31,36,5.0,211,256,-45
...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8.0,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10.0,231,264,-33
579,Vancouver Canucks,2011,51,22,9.0,249,198,51
580,Washington Capitals,2011,42,32,8.0,222,230,-8
581,Winnipeg Jets,2011,37,35,10.0,225,246,-21

In [194]:
historical_df.isnull().sum()

Team_Name          0
Year               0
Wins               0
Losses             0
ot_losses        224
Goals_for          0
Goals_Against      0
Difference         0
dtype: int64

In [195]:
historical_df.drop(columns=['ot_losses'],inplace=True)

In [196]:
historical_df

,Team_Name,Year,Wins,Losses,Goals_for,Goals_Against,Difference
0,Boston Bruins,1990,44,24,299,264,35
1,Buffalo Sabres,1990,31,30,292,278,14
2,Calgary Flames,1990,46,26,344,263,81
3,Chicago Blackhawks,1990,49,23,284,211,73
4,Detroit Red Wings,1990,34,38,273,298,-25
...,...,...,...,...,...,...,...
219,St. Louis Blues,1998,37,32,237,209,28
220,Tampa Bay Lightning,1998,19,54,179,292,-113
221,Toronto Maple Leafs,1998,45,30,268,231,37
222,Vancouver Canucks,1998,23,47,192,258,-66
223,Washington Capitals,1998,31,45,200,218,-18

In [197]:
historical_df.describe()

,Year,Wins,Losses,Goals_for,Goals_Against,Difference
count,224.000000,224.000000,224.000000,224.000000,224.000000,224.000000
mean,1994.178571,33.915179,33.915179,242.937500,242.937500,0.000000
std,2.545423,9.403126,9.815196,54.726189,56.306541,51.219303
min,1990.000000,9.000000,11.000000,115.000000,115.000000,-196.000000
25%,1992.000000,28.000000,27.000000,214.000000,205.000000,-25.000000
50%,1994.000000,34.000000,33.000000,242.000000,248.000000,2.000000
75%,1996.000000,40.000000,40.000000,279.250000,278.000000,35.000000
max,1998.000000,62.000000,71.000000,369.000000,414.000000,144.000000

In [198]:
# Feature Engineering for historical data(1990-1998)
historical_df['Win_Loss_Ratio'] = historical_df['Wins'] / historical_df['Losses']

In [199]:
historical_df['Goals_Per_Game'] = historical_df['Goals_for'] / (historical_df['Wins'] + df['Losses'])

In [200]:
historical_df['Goals_Against_Per_Game'] = historical_df['Goals_Against'] / (historical_df['Wins'] + historical_df['Losses'])

In [201]:
historical_df['Winning_Season'] = historical_df['Wins'] > historical_df['Losses']
historical_df['Losing_Season'] = historical_df['Losses'] > historical_df['Wins']

In [202]:
historical_df['Total_Points'] = historical_df['Wins'] * 2

In [203]:
def categorize_performance(row):
    if row['Total_Points'] > 80:
        return 'High'
    elif row['Total_Points'] > 50:
        return 'Medium'
    else:
        return 'Low'

historical_df['Performance_Category'] = historical_df.apply(categorize_performance, axis=1)

In [204]:
historical_df

,Team_Name,Year,Wins,Losses,Goals_for,Goals_Against,Difference,Win_Loss_Ratio,Goals_Per_Game,Goals_Against_Per_Game,Winning_Season,Losing_Season,Total_Points,Performance_Category
0,Boston Bruins,1990,44,24,299,264,35,1.833333,4.397059,3.882353,True,False,88,High
1,Buffalo Sabres,1990,31,30,292,278,14,1.033333,4.786885,4.557377,True,False,62,Medium
2,Calgary Flames,1990,46,26,344,263,81,1.769231,4.777778,3.652778,True,False,92,High
3,Chicago Blackhawks,1990,49,23,284,211,73,2.130435,3.944444,2.930556,True,False,98,High
4,Detroit Red Wings,1990,34,38,273,298,-25,0.894737,3.791667,4.138889,False,True,68,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,St. Louis Blues,1998,37,32,237,209,28,1.156250,3.434783,3.028986,True,False,74,Medium
220,Tampa Bay Lightning,1998,19,54,179,292,-113,0.351852,2.452055,4.000000,False,True,38,Low
221,Toronto Maple Leafs,1998,45,30,268,231,37,1.500000,3.573333,3.080000,True,False,90,High
222,Vancouver Canucks,1998,23,47,192,258,-66,0.489362,2.742857,3.685714,False,True,46,Low
223,Washington Capitals,1998,31,45,200,218,-18,0.688889,2.631579,2.868421,False,True,62,Medium

# For Recent Data(1998 onwards)

In [208]:
recent_df

,Team_Name,Year,Wins,Losses,ot_losses,Goals_for,Goals_Against,Difference
224,Mighty Ducks of Anaheim,1999,34,33,3.0,217,227,-10
225,Atlanta Thrashers,1999,14,57,4.0,170,313,-143
226,Boston Bruins,1999,24,33,6.0,210,248,-38
227,Buffalo Sabres,1999,35,32,4.0,213,204,9
228,Calgary Flames,1999,31,36,5.0,211,256,-45
...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8.0,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10.0,231,264,-33
579,Vancouver Canucks,2011,51,22,9.0,249,198,51
580,Washington Capitals,2011,42,32,8.0,222,230,-8
581,Winnipeg Jets,2011,37,35,10.0,225,246,-21

In [206]:
recent_df.isnull().sum()

Team_Name        0
Year             0
Wins             0
Losses           0
ot_losses        0
Goals_for        0
Goals_Against    0
Difference       0
dtype: int64

In [209]:
recent_df.describe()

,Year,Wins,Losses,ot_losses,Goals_for,Goals_Against,Difference
count,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000,358.000000
mean,2005.117318,38.837989,31.377095,7.460894,228.511173,228.511173,0.000000
std,3.872286,8.067399,7.244450,3.610191,26.921270,29.670433,41.202377
min,1999.000000,14.000000,15.000000,0.000000,164.000000,164.000000,-143.000000
25%,2002.000000,34.000000,27.000000,5.000000,211.000000,207.250000,-28.000000
50%,2006.000000,40.000000,30.000000,7.000000,227.000000,227.000000,4.000000
75%,2008.750000,44.000000,36.000000,10.000000,246.750000,248.000000,27.750000
max,2011.000000,58.000000,57.000000,18.000000,318.000000,316.000000,103.000000

In [210]:
recent_df['Win_Loss_Ratio'] = recent_df['Wins'] / recent_df['Losses']

In [211]:
recent_df['Goals_Per_Game'] = recent_df['Goals_for'] / (recent_df['Wins'] + recent_df['Losses'] + recent_df['ot_losses'])

In [212]:
df['Goals_Against_Per_Game'] = df['Goals_Against'] / (df['Wins'] + df['Losses'] + df['ot_losses'])

In [213]:
recent_df['Winning_Season'] = recent_df['Wins'] > recent_df['Losses']
recent_df['Losing_Season'] = recent_df['Losses'] > recent_df['Wins']

In [214]:
recent_df['Total_Points'] = recent_df['Wins'] * 2 + recent_df['ot_losses']

In [215]:
def categorize_performance(row):
    if row['Total_Points'] > 80:
        return 'High'
    elif row['Total_Points'] > 50:
        return 'Medium'
    else:
        return 'Low'

recent_df['Performance_Category'] = recent_df.apply(categorize_performance, axis=1)

In [216]:
recent_df

,Team_Name,Year,Wins,Losses,ot_losses,Goals_for,Goals_Against,Difference,Win_Loss_Ratio,Goals_Per_Game,Winning_Season,Losing_Season,Total_Points,Performance_Category
224,Mighty Ducks of Anaheim,1999,34,33,3.0,217,227,-10,1.030303,3.100000,True,False,71.0,Medium
225,Atlanta Thrashers,1999,14,57,4.0,170,313,-143,0.245614,2.266667,False,True,32.0,Low
226,Boston Bruins,1999,24,33,6.0,210,248,-38,0.727273,3.333333,False,True,54.0,Medium
227,Buffalo Sabres,1999,35,32,4.0,213,204,9,1.093750,3.000000,True,False,74.0,Medium
228,Calgary Flames,1999,31,36,5.0,211,256,-45,0.861111,2.930556,False,True,67.0,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8.0,235,281,-46,1.055556,2.865854,True,False,84.0,High
578,Toronto Maple Leafs,2011,35,37,10.0,231,264,-33,0.945946,2.817073,False,True,80.0,Medium
579,Vancouver Canucks,2011,51,22,9.0,249,198,51,2.318182,3.036585,True,False,111.0,High
580,Washington Capitals,2011,42,32,8.0,222,230,-8,1.312500,2.707317,True,False,92.0,High
581,Winnipeg Jets,2011,37,35,10.0,225,246,-21,1.057143,2.743902,True,False,84.0,High